
html, body {
  min-height: 100vh !important;
  background-color: rgb(221, 193,185) !important;
  display: flex;
  justify-content: center;
}

h1 {
	text-align: center;
}

.title-box {
	color: rgb(221, 193,185);
	text-decoration: underline;
}

.top {
	margin: 50px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.register-btn {
    position: absolute;
    background-color: rgb(255, 255, 255);
    right: 10px;
    top: 10px;
}

.container {
	height: 75px;
	width: 100%;
	font-family: arial;
	color: white;
	text-align: center;
	padding: 3px 0px;
	display: flex;
}

.container-home {
	height: 75px;
	width: 100%;
	font-family: arial;
	color: white;
	text-align: center;
	padding: 3px 0px;
	right: 25%;
	/*display: flex;*/
}

.log-box {
	height: 25vh;
	width: 25vh;
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
	transform: translate(0%, 100%);
	position: absolute;
}

.log-btn {
	margin: 10px;
}

.field-police {
	color: rgb(221, 193,185);
	font-size: 25px;
}

.nav-bar {
	width: 30vh;
	background-color: white;
}

.cart-item {
    margin: auto;
    width: 25%;
    height: 80%;
    border: 5px solid red;
}

.cart-box {
	background-color: white;
	margin-right: 10px;
	height: 300px;
	display: flex;
	align-items: center;
	color: black;
	padding: 10px;
	text-align: center;
	display: flex;
	flex-flow: column-reverse wrap;
	align-items: center;
	transform: translate(25%, 50%);
}
