.vertical-menu {
    width: 100%; /* Set a width if you like */
    height: 100%;
    max-width: 300px;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none!important;
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a:last-child{
    background-color: white;
}

.vertical-menu a.active {
    background-color: rgb(221, 193,185); /* Add a green color to the "active/current" link */
    color: white;
}

.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #eee;
    min-width: 160px;
    margin: -50% 0% 0% 100%;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#sidebar-end {
    height: 100%;
}

.nav-bar {
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
}

ul {
    list-style-type: none;
    overflow: auto;
    width: 110%;
    transform: translate(-9%, 0%);
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #2A2B2A;
    color: white;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #808F85;
    color: white;
    text-decoration: none;
}